@import "https://fonts.googleapis.com/css?family=Space+Mono:400,400i"
@import "../node_modules/normalize.css/normalize.css"

@require "../assets/highlight/styles/atom-one-light"

$mono = "Space Mono", monospace

body
    font-family -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    line-height: 24px;
.hero
    padding 120px 0
    border-bottom 1px solid #eee

    h2
        color: #363636;
        margin-bottom 16px

    .subtitle
        margin-top 0
        font-weight 300

h1
    font-size 3.998em

h2
    font-size 2.827em

h3
    font-size 1.999em

h4
    font-size 1.414em

button, .button
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #363636;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 15px;
    height: 32px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    vertical-align: top;
    user-select: none;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    white-space: nowrap;

    & + .button
        margin-left 8px

    &.info.outlined
        background-color: transparent;
        border-color: #3273dc;
        border-width: 1px;
        color: #3273dc;

        &:hover
            background #3273dc
            border-color: #3273dc;
            color white

    &.success.outlined
        background-color: transparent;
        border-color: #23d160;
        border-width: 1px;
        color: #23d160;

        &:hover
            background #23d160
            border-color: #23d160;
            color white

    &.warning.outlined
        background-color: transparent;
        border-color: #ffdd57;
        border-width: 1px;
        color: #ffdd57;

        &:hover
            background #ffdd57
            border-color: #ffdd57;
            color rgba(0, 0, 0, 0.7)

    &.danger.outlined
        background-color: transparent;
        border-color: #ff3860;
        border-width: 1px;
        color: #ff3860;

        &:hover
            background #ff3860
            border-color: #ff3860;
            color white


.container
    max-width 960px
    margin 0 auto

#logo
    font-family $mono

.margin-right--small
    margin-right 0.5rem

pre code
    font 500 14px $mono
    line-height 28px
